/* Estilo para las tarjetas de personajes individuales */
.character-card {
    border: 0.5px solid #000000;
    border-radius: 15px;
    padding: 16px;
    margin: 16px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco con 80% de opacidad */
}

/* Efecto hover para las tarjetas */
.character-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo para las imágenes de los personajes */
.character-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

/* Estilo para los nombres de los personajes */
.character-card h2 {
    font-size: 1.5em;
    margin: 8px 0;
    color: #333;
}

/* Estilo para las descripciones de los personajes */
.character-card p {
    font-size: 1em;
    color: black;
    margin: 0;
    padding: 0;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button-group button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2em; /* Tamaño más grande */
    color: #f5f0f0;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px; /* Menos separación entre botones */

}



.button-group button.info:hover {
    color: #007bff; /* Color del icono al hacer hover */
}


.star-icon {
    /* Estilos para el ícono de estrella */
    color: rgb(235, 235, 235); /* Color gris por defecto */
    font-size: 1.5rem;
    transition: color 0.3s ease; /* Transición suave para el color */
}

.star-icon.active {
    /* Estilos para el ícono de estrella cuando está activo (amarillo) */
    color: yellow; /* Color amarillo cuando está activo */
}

.star-icon:hover {
    /* Estilos para hover en el ícono de estrella */
    color: yellow; /* Cambia el color a amarillo cuando se hace hover */
}