/* footer.css */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    background-color: rgba(12, 11, 11, 0.01); /* Fondo blanco con 80% de opacidad */

    color: rgb(240, 87, 87);
    
    text-align: center;
    padding: 7px 0;
    z-index: 1000; /* Asegura que esté encima del contenido */
    font-weight: bold; /* Letras más gruesas */

}

.rights {
    font-size: 0.9rem;
}


.icon {
    width: 30px;
    height: auto;
}

.created-by {
    font-size: 1rem;
    margin-top: 5px; /* Espacio entre los derechos reservados y el creado por */
    color: rgb(179, 151, 151);
}

.created-by a {
    text-decoration: none;
    color: #1fbdb0; /* Color dorado para el enlace */
}

.created-by a:hover {
    opacity: 0.7; /* Opacidad al pasar el mouse */
}
